<div class="span3 well text-center">
      <legend>Sign up!</legend>
    <form accept-charset="UTF-8" action="/signup" method="post">
		<input class="span3" name="name" placeholder="Full Name" type="text"> 
        <br>
        <input class="span3" name="email" placeholder="email" type="email">
        <br>
        <input class="span3" name="password" placeholder="Password" type="password"> 
        <br><br>
        <button class="btn btn-warning" type="submit">Sign up</button>
        <br>
        <a href="/login">have an account ?</a>
    </form>
</div>